#rootPane {
    -fx-background-image: url("../images/login_background.jpg");
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf');
}
body {
  -fx-src: url('https://fonts.googleapis.com/css?family=Rubik');
  -fx-font-family: "Rubik", sans-serif !important;
  
}
.login-form-input {
    -fx-background-color: #fdd766;
    -fx-text-fill: #3f3f3f;
}

.login-from-input-error {
    -fx-border-color: #DC143C
}

.login-form-btn {
    -fx-background-color: #3f3f3f;
    -fx-text-fill: white;
}

#termsOfServiceWrapper {
    -fx-background-color: #E4E4E4;
}

.term-of-condition-btn {
    -fx-padding: 13px;
    -fx-background-color: #3F3F3F;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.loading-splash-screen-root-wrapper {
    -fx-background-color: #E4E4E4;
    -fx-opacity: 0.95;
}

.splash-screen-image-view {
    -fx-opacity: 0.9;
}

.auth-screen-root-wrapper {
    -fx-font-family: 'Inter';
    /* -fx-background-color: white;*/
    -fx-background-image: url("../images/Background.png");

    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-color: white;

}

.auth-screen-svg-wrapper {
    -fx-background-color: white;
}

.auth-screen-input-wrapper {
    -fx-background-color: white;
    -fx-background-radius: 25px;
    -fx-padding: 20px;

}

.auth-screen-svg-wave {}

.auth-screen-text-input {
    -fx-background-color: none;
    
    -fx-text-fill: #666666;
    -fx-prompt-text-fill: #D6D6D6;
    -fx-border-bottom-color: #1A1A1A;
    -fx-border-bottom-width: 1;

    -fx-font-size: 13px;
    -fx-padding: 15px;
    -fx-font-family: 'Inter';
}


.auth-screen-text-input:focused {
    -fx-border-bottom-color: #000000;
    -fx-border-bottom-width: 5;
    /*-fx-font-weight: 650;*/
    -fx-prompt-text-fill: #D6D6D6;
    -fx-text-fill: #000000;
}

.form-text-input-focused {
    -fx-border-color: #000000;
    -fx-border-width: 3;
    /*-fx-font-weight: 650;*/
    -fx-prompt-text-fill: #E4E4E4;
}
.custom-line{
    -fx-stroke: #828282
}
.custom-line-focused{
    -fx-stroke: #000000;
}
.custom-line1{
    -fx-stroke: #DBDBDB;
}
.custom-line1-focused{
    -fx-stroke: #DBDBDB;
}

.auth-screen-text-input-error {
    -fx-border-color: red;
}

.auth-screen-button {
    -fx-background-color: #3E5BF2;

    -fx-font-size: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-family: 'Inter';
}

.auth-screen-button:hover {
    -fx-background-color: #3E5BF2;
-fx-cursor: hand;
    -fx-font-size: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-family: 'Inter';
}

.auth-screen-hyperlink-wrapper {
    -fx-background-color: white;
}

.auth-input-label {
    -fx-background-color: white;
    -fx-text-fill: #666666;
}

.auth-FormTitle-label {
    -fx-background-color: white;
    -fx-text-fill: #1A1A1A;
    -fx-font-weight: bold;
    -fx-font-size: 24px;

}

.auth-NameTitle-label {

    -fx-text-fill: white;
   
    -fx-font-size: 20px;
    -fx-font-weight:700;

}

.dialog-modal-primary-btn {
    -fx-background-color: white;
   -fx-border-color:#3E5BF2;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-margin: 10px;
    -fx-padding: 5px;
    -fx-text-fill: #3E5BF2;
    -fx-background-radius: 8; /* Adjust the value to change the roundness */
    -fx-border-radius: 8;
-fx-min-width: 110px;

}

.dialog-modal-primary-btn:hover {
    -fx-background-color: #3E5BF2;
   -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-margin: 20px;
    -fx-padding: 5px;
    -fx-text-fill: white;
     -fx-background-radius: 8; /* Adjust the value to change the roundness */
    -fx-border-radius: 8;
-fx-min-width: 120px;
}

.dialog-modal-heading {
   -fx-background-color: white;
  -fx-text-alignment:center;
    -fx-font-size: 16px;
   -fx-font-weight:500;
    -fx-margin: 10px;
    -fx-padding: 5px;
    -fx-text-fill: #1C1A1A;
   
-fx-min-width: 250px;

}

.dialog-modal-bodytext {
   -fx-background-color: white;
  -fx-text-alignment:center;
    -fx-font-size: 14px;
  
    -fx-margin: 10px;
    -fx-padding: 5px;
    -fx-text-fill: #1C1A1A;
   
-fx-min-width: 300px;

}
.dialog-modal-loginfailed-btn {
    -fx-background-color: white;
   -fx-border-color:#F84807;
    -fx-font-size: 14px;
    -fx-font-weight: semiBold;
    -fx-border-radius: 5px;
    -fx-margin: 10px;
    -fx-padding: 5px;
    -fx-text-fill: #F84807;
    -fx-background-radius: 8; /* Adjust the value to change the roundness */
    -fx-border-radius: 8;
-fx-min-width: 120px;
-fx-alignment:BASELINE_CENTER;
}

.dialog-modal-loginfailed-btn:hover {
    -fx-background-color: #F84807;
   -fx-cursor: hand;
    -fx-font-size: 14px;
   -fx-font-weight: semiBold;
    -fx-border-radius: 5px;
    -fx-margin: 20px;
    -fx-padding: 5px;
    -fx-text-fill: white;
     -fx-background-radius: 8; /* Adjust the value to change the roundness */
    -fx-border-radius: 8;
-fx-min-width: 120px;
-fx-alignment:BASELINE_CENTER;
}
.forget-password-instruction-txt {

    -fx-text-fill: #000000;
}

.mainwindow-root-wrapper {
    -fx-background-color: #E4E4E4;
}

.mainwindow-to-navbar {
    -fx-font-family: 'Inter';
    /* -fx-background-color: white;*/
    -fx-background-image: url("../images/Background.png");

    -fx-background-position: center;
    -fx-background-size: cover;
}

.nav-bar-item-root-wrapper {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;

}

.nav-bar-item-activated {
    -fx-background-color: #3E5BF2;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
     -fx-background-color: #ffffff;
}




.tab-pane > .tab:selected .tab-header-area {
 
  
    -fx-border-width: 0 0 5 0; /* Border bottom only */
    -fx-border-color: #3E5BF2; /* Change to your desired color */
  
}
.tab-header-area {
    -fx-padding: 0 0 0 0;
     -fx-background-color: #ffffff;
}

.tab-header-background {
    -fx-background-color: #ffffff;
   
}


.tab {
   -fx-background-color: #ffffff;
      -fx-border-color: #E6E6E6;
    -fx-border-width: 0 0 1 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
     -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment:CENTER;
   -fx-text-fill: #8F8F8F;
}

.tab:hover {
   -fx-cursor: hand;
    -fx-border-color: #A6A6A6;
    -fx-border-width: 0 0 2 0;
}
.tab:pressed {
   
    -fx-border-color: #3E5BF2;
    -fx-border-width: 0 0 2 0;
}

.tab:selected {
   
    -fx-border-color: #3E5BF2;
    -fx-border-width: 0 0 2 0;
    
}
.tab:selected .tab-label {
   -fx-text-fill: #3E5BF2;
}

.chart-legend-item {
    -fx-font-size: 10px;
}

.table-column {
    -fx-alignment: CENTER;
}

.table>thead>tr>th {
    -fx-background-color: #01003C;
    -fx-text-fill: white;

}

.meeting-info-modal-btn {
    -fx-background-color: #3E5BF2;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
}
#scheduleDetailsTableView .column-header,

#scheduleDetailsTableView .column-header .filler,

#scheduleDetailsTableView .column-header-background .filler {

    -fx-background-color: #01003C;

    -fx-alignment: CENTER-LEFT;

}

 

#scheduleDetailsTableView .column-header .label {

    -fx-text-fill: #fff;

    -fx-font-size: 12px;

    -fx-alignment: CENTER-LEFT;

}

 

#scheduleDetailsTableView .table-column {

    -fx-alignment: CENTER-LEFT;

    /* -fx-padding: 11px 20px; */

}
.jfx-layout{
    
  -jfx-background-radius: 10;
    -fx-background-color: #ECECEC;
}
.jfx-layout-body {
   
   -fx-border-width: 0.5 0 0 0;
    -fx-border-color: #CACED8; 
    -fx-padding: 20 20 20 20;/* Set the border color */
  -fx-alignment:CENTER;
}

.jfx-layout-heading{
    
    -fx-alignment:CENTER;
    -fx-font-size: 16px;
    -fx-font-weight:500;
}
.jfx-layout-actions{
   -fx-padding: 10 30 30 15;
    -fx-alignment:CENTER;
   -fx-font-weight: semiBold;
}
.form-select {
  
  -fx-width: 100%;
  -fx-padding: 2px;
  -fx-vertical-align: middle;
  -fx-background-color: #ffffff;
  -fx-border: 0.5px solid #DBDADA;
  -fx-border-radius: 8px;
  -fx-background-radius:8px;
  -fx-border-color:#DBDADA;
  -fx-text-fill: #9E9D9D;

}

.rounded-dialog{
    -fx-background-radius: 20; /* Adjust the value to change the roundness */
    -fx-border-radius: 20px;
}

.rounded-dialog .jfx-dialog-content {
    -fx-background-radius: 10; /* Adjust the value to change the roundness */
}


.combo-box-popup > .list-view {
   /* -fx-pref-width: 150px;  Set the preferred width of the dropdown items */
}

.combo-box-popup > .list-view > .cell {
   /* -fx-min-width: 150px;  Set the minimum width of the cells/items */
}

